In [1]:
a = "Ali"
print(a)

Ali

In [12]:
age = int(input("What is your age:"))
if age >= 18 :
 print("You are allowed to get Ride")
else :
 print("You are not allowed to get ride")

What is your age:18
You are allowed to get Ride

In [17]:
x = 10
y = 12 //22
a = 30
b = 8 //22
if x + y != a - b:
    print("Your answer is correct")
else:
    print("Your answer is not correct")

Your answer is correct

In [29]:
per = int(input("Enter your per%:"));
if per >= 80 and per <= 100:
    print("A+")
elif per >= 70 and per <= 79:
    print("A")
elif per >= 60 and per <= 69:
    print("B")
elif per >= 0 and per <=59 :
    print("FAIL")
else :
    print("You put some wrong input")

Enter your per%:123
You put some wrong input

In [36]:
a=5
b=6
c=8
d=8
e=9
g=10
f=150
x=10
y=12
h=0
if c == d:
 if x == y:
    g = h
    print(g)
 elif a == b:
    g = h
    print(g)
 else:
    e = f
    print(e)
else:
    e = f
    print(e)

150

In [38]:
arr = ["Ali","Haider","Salman",25,False,0.9]
print(arr)

['Ali', 'Haider', 'Salman', 25, False, 0.9]

In [42]:
arr = ["Ali","Haider","Salman",25,False,0.9]
print(arr[1])

Haider

In [44]:
print(arr[0])

Ali

In [48]:
arr = ["Ali","Haider","Salman",25,False,0.9]
print(arr[5])

0.9

In [54]:
arr.append("Huzaifa")
arr

['Ali',
 'Haider',
 'Salman',
 25,
 False,
 0.9,
 'Umer',
 'Umer',
 'Umer',
 'Huzaifa',
 'Huzaifa',
 'Huzaifa']

In [55]:
arr1 = arr + ["Daniya","Zainab"]
print(arr1)

['Ali', 'Haider', 'Salman', 25, False, 0.9, 'Umer', 'Umer', 'Umer', 'Huzaifa', 'Huzaifa', 'Huzaifa', 'Daniya', 'Zainab']

In [56]:
arr1.insert(2, "Raza")
print(arr1)

['Ali', 'Haider', 'Raza', 'Salman', 25, False, 0.9, 'Umer', 'Umer', 'Umer', 'Huzaifa', 'Huzaifa', 'Huzaifa', 'Daniya', 'Zainab']

In [57]:
arr1[5] = True
print(arr1)

['Ali', 'Haider', 'Raza', 'Salman', 25, True, 0.9, 'Umer', 'Umer', 'Umer', 'Huzaifa', 'Huzaifa', 'Huzaifa', 'Daniya', 'Zainab']

In [59]:
arr2 = arr1[2 : 8]
print(arr2)

['Raza', 'Salman', 25, True, 0.9, 'Umer']

In [61]:
arr3 = arr2[:6]
print(arr3)

['Raza', 'Salman', 25, True, 0.9, 'Umer']

In [68]:
del arr[4]
print(arr)

['Salman', 0.9, 'Umer', 'Umer', 'Huzaifa', 'Huzaifa']

In [63]:
print(arr)

['Ali', 'Salman', 25, False, 0.9, 'Umer', 'Umer', 'Umer', 'Huzaifa', 'Huzaifa', 'Huzaifa']

In [69]:
print(arr)

['Salman', 0.9, 'Umer', 'Umer', 'Huzaifa', 'Huzaifa']

In [70]:
del arr[5]
print(arr)

['Salman', 0.9, 'Umer', 'Umer', 'Huzaifa']

In [72]:
arr.remove(0.9)
print(arr)

['Salman', 'Umer', 'Umer', 'Huzaifa']

In [75]:
arr4 = arr.pop()
print(arr4)

Umer